{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "6"
        }
      }
    ]
  ],
  "plugins": ["lodash", "@babel/transform-modules-commonjs"],
  "env": {
    "es": {
      "comments": false,
      "minified": false
    },
    "commonjs": {
      "comments": false,
      "minified": false
    }
  }
}
